.header {
    background-color: #f3e5f5;
    font-family: 'Oxygen', sans-serif;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    z-index: 999;
}

.header .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
}
.header .navbar .logo {
    width: 11rem;
    height: auto;
    padding-left: 0.5rem;
}

@media (min-width: 768px)  {
    .header .navbar .logo {
        width: 15rem;
    }
}

.header .navbar .nav-link {
    color: #000;
    font-size: 1.25rem;
    letter-spacing: 0.1rem;
    padding: 0.5rem 1rem;
}